==
<div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
           <li class="navbar-item"><a class="{% if this.page.id == 'home' %}active{% endif %} navbar-link" href="{{ 'home'|page }}">Basic concepts</a></li>
          <li class="navbar-item"><a class="{% if this.page.id == 'ajax' %}active{% endif %} navbar-link" href="{{ 'ajax'|page }}">AJAX framework</a>
          <li class="navbar-item"><a class="{% if this.page.id == 'plugins' %}active{% endif %} navbar-link" href="{{ 'plugins'|page }}"> Plugin components</a></li>
          </li>
          {% if this.page.id == 'home' %}
          <li class="navbar-item"><a class="navbar-link" href="#intro">Intro</a></li>
          <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="#codeNavPopover">Code</a>
            <div id="codeNavPopover" class="popover">
              <ul class="popover-list">
                <li class="popover-item">
                  <a class="popover-link" href="#grid">Grid</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="#typography">Typography</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="#buttons">Buttons</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="#forms">Forms</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="#lists">Lists</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="#code">Code</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="#tables">Tables</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="#queries">Queries</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="#utilities">Utilities</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="navbar-item"><a class="navbar-link" href="#examples">Examples</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>